# Lab | Data Structuring and Combining Data

## Challenge 1: Combining & Cleaning Data

In this challenge, we will be working with the customer data from an insurance company, as we did in the two previous labs. The data can be found here:
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

But this time, we got new data, which can be found in the following 2 CSV files located at the links below.

- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv

Note that you'll need to clean and format the new data.

Observation:
- One option is to first combine the three datasets and then apply the cleaning function to the new combined dataset
- Another option would be to read the clean file you saved in the previous lab, and just clean the two new files and concatenate the three clean datasets

In [1]:
import pandas as pd

url1 = "https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv"
df1 = pd.read_csv(url1)

url2 = "https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv"
df2 = pd.read_csv(url2)

url3 = "https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv"
df3 = pd.read_csv(url3)

In [11]:
%reload_ext autoreload
%autoreload 2
from Funtions import clean_columns_names
from Funtions import fix_invalid_values
from Funtions import format_data_types
from Funtions import drop_null
from Funtions import drop_duplicates

In [12]:
df1.head()

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323

In [13]:
df2.head()

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Total Claim Amount,Policy Type,Vehicle Class
0,GS98873,Arizona,F,Bachelor,323912.47%,16061,88,1/0/00,633.6,Personal Auto,Four-Door Car
1,CW49887,California,F,Master,462680.11%,79487,114,1/0/00,547.2,Special Auto,SUV
2,MY31220,California,F,College,899704.02%,54230,112,1/0/00,537.6,Personal Auto,Two-Door Car
3,UH35128,Oregon,F,College,2580706.30%,71210,214,1/1/00,1027.2,Personal Auto,Luxury Car
4,WH52799,Arizona,F,College,380812.21%,94903,94,1/0/00,451.2,Corporate Auto,Two-Door Car

In [14]:
df3.head()

,Customer,State,Customer Lifetime Value,Education,Gender,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Total Claim Amount,Vehicle Class
0,SA25987,Washington,3479.137523,High School or Below,M,0,104,0,Personal Auto,499.200000,Two-Door Car
1,TB86706,Arizona,2502.637401,Master,M,0,66,0,Personal Auto,3.468912,Two-Door Car
2,ZL73902,Nevada,3265.156348,Bachelor,F,25820,82,0,Personal Auto,393.600000,Four-Door Car
3,KX23516,California,4455.843406,High School or Below,F,0,121,0,Personal Auto,699.615192,SUV
4,FN77294,California,7704.958480,High School or Below,M,30366,101,2,Personal Auto,484.800000,SUV

In [16]:
clean_columns_names(df1)
clean_columns_names(df2)
clean_columns_names(df3)

In [17]:
unido = pd.concat([df1, df2, df3], axis=0)
unido.head()

,customer,customer_lifetime_value,education,gender,income,monthly_premium_auto,number_of_open_complaints,policy_type,state,total_claim_amount,vehicle_class
0,RB50392,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Washington,2.704934,Four-Door Car
1,QZ44356,697953.59%,Bachelor,F,0.0,94.0,1/0/00,Personal Auto,Arizona,1131.464935,Four-Door Car
2,AI49188,1288743.17%,Bachelor,F,48767.0,108.0,1/0/00,Personal Auto,Nevada,566.472247,Two-Door Car
3,WW63253,764586.18%,Bachelor,M,0.0,106.0,1/0/00,Corporate Auto,California,529.881344,SUV
4,GA49547,536307.65%,High School or Below,M,36357.0,68.0,1/0/00,Personal Auto,Washington,17.269323,Four-Door Car

In [18]:
fix_invalid_values(unido)
format_data_types(unido)
drop_null(unido)
drop_duplicates(unido)
unido

,index,customer,customer_lifetime_value,education,gender,income,monthly_premium_auto,number_of_open_complaints,policy_type,state,total_claim_amount,vehicle_class
0,1,QZ44356,697953.59,Bachelor,F,0.0,94.0,0.0,Personal Auto,Arizona,1131.464935,Four-Door Car
1,2,AI49188,1288743.17,Bachelor,F,48767.0,108.0,0.0,Personal Auto,Nevada,566.472247,Two-Door Car
2,3,WW63253,764586.18,Bachelor,M,0.0,106.0,0.0,Corporate Auto,California,529.881344,SUV
3,4,GA49547,536307.65,High School or Below,M,36357.0,68.0,0.0,Personal Auto,Washington,17.269323,Four-Door Car
4,5,OC83172,825629.78,Bachelor,F,62902.0,69.0,0.0,Personal Auto,Oregon,159.383042,Two-Door Car
5,6,XZ87318,538089.86,College,F,55350.0,67.0,0.0,Corporate Auto,Oregon,321.600000,Four-Door Car
6,7,CF85061,721610.03,Master,M,0.0,101.0,0.0,Corporate Auto,Arizona,363.029680,Four-Door Car
7,8,DY87989,2412750.40,Bachelor,M,14072.0,71.0,0.0,Corporate Auto,Oregon,511.200000,Four-Door Car
8,9,BQ94931,738817.81,College,F,28812.0,93.0,0.0,Special Auto,Oregon,425.527834,Four-Door Car
9,10,SX51350,473899.20,College,M,0.0,67.0,0.0,Personal Auto,California,482.400000,Four-Door Car
10,21,QK46697,617710.93,Bachelor,M,61040.0,79.0,1.0,Personal Auto,Washington,20.382876,Two-Door Car
11,27,HS14476,916206.32,College,M,29723.0,80.0,0.0,Personal Auto,Washington,20.985105,Four-Door Car
12,33,HD95276,473787.17,College,F,0.0,130.0,0.0,Personal Auto,Washington,23.820158,SUV
13,44,YD87931,495165.61,Doctor,M,46896.0,35354.0,1.0,Personal Auto,Washington,31.707317,Four-Door Car
14,53,NW21079,487938.48,Master,F,67163.0,61.0,2.0,Personal Auto,Washington,33.192803,Two-Door Car
15,85,YB66933,538275.20,Bachelor,F,77552.0,68.0,1.0,Corporate Auto,Washington,45.215059,Four-Door Car
16,91,OW15518,1595001.95,College,F,0.0,87.0,1.0,Personal Auto,Washington,46.041452,Two-Door Car
17,111,GP39118,499655.27,High School or Below,M,71600.0,63.0,0.0,Personal Auto,Washington,46.158117,Two-Door Car
18,114,SG20925,518579.76,Master,F,99428.0,6464.0,1.0,Personal Auto,Washington,48.046869,Four-Door Car
19,120,FM14335,1048491.54,College,F,61108.0,89.0,0.0,Personal Auto,Washington,49.451117,Four-Door Car
20,129,HS28694,282986.39,High School or Below,F,25317.0,71.0,0.0,Personal Auto,Washington,50.422181,Two-Door Car
21,137,LH92841,725595.38,Bachelor,F,88891.0,89.0,0.0,Personal Auto,Washington,50.528355,Four-Door Car
22,139,AZ95587,1038855.32,Bachelor,F,61222.0,89.0,0.0,Special Auto,Arizona,392.604371,Four-Door Car
23,140,DS81757,247012.12,College,M,0.0,74.0,0.0,Personal Auto,Oregon,721.242206,Two-Door Car
24,141,OJ94107,561906.85,Master,M,50335.0,140.0,0.0,Personal Auto,Arizona,456.523850,SUV
25,142,LP84436,904711.92,High School or Below,F,0.0,127.0,0.0,Personal Auto,California,1087.995426,Luxury
26,143,FF22360,268731.41,Doctor,F,82210.0,68.0,4.0,Personal Auto,Washington,51.961915,Four-Door Car
27,144,LM19287,373150.46,High School or Below,F,0.0,96.0,0.0,Personal Auto,Oregon,460.800000,Four-Door Car
28,145,ZU18643,366077.03,Bachelor,M,64495.0,92.0,0.0,Corporate Auto,Nevada,251.992083,Four-Door Car
29,146,AZ82578,792882.93,College,F,0.0,72.0,0.0,Corporate Auto,California,345.600000,Four-Door Car
...,...,...,...,...,...,...,...,...,...,...,...,...
1907,965,IE15348,406700.47,High School or Below,F,28466.0,102.0,0.0,Personal Auto,Washington,371.802628,SUV
1908,966,GP67816,2320839.42,High School or Below,F,60233.0,116.0,0.0,Personal Auto,California,481.265179,Two-Door Car
1909,967,PW51793,732589.27,Bachelor,M,52920.0,93.0,0.0,Personal Auto,Oregon,1101.054320,Four-Door Car
1910,968,UF59346,417034.07,Bachelor,M,90310.0,104.0,0.0,Personal Auto,California,166.355491,SUV
1911,969,FG29932,784016.58,College,M,58414.0,210.0,2.0,Special Auto,California,1008.000000,Luxury
1912,970,UX71137,887596.55,Doctor,F,69205.0,110.0,0.0,Personal Auto,Washington,372.362565,Four-Door Car
1913,971,BY54111,1937890.78,High School or Below,M,21159.0,73.0,0.0,Personal Auto,Oregon,350.400000,Four-Door Car
1914,972,RM83767,597099.57,College,M,64008.0,85.0,5.0,Personal Auto,Washington,372.893812,Four-Door Car
1915,973,PT15464,914887.79,Bachelor,F,68236.0,114.0,0.0,Personal Auto,Arizona,20.725611,SUV
1916,974,BP92643,1377097.62,High School or Below,F,59207.0,116.0,0.0,Personal Auto,Arizona,556.800000,Four-Door Car
1917,975,BW94308,2009689.34,High School or Below,F,92766.0,71.0,0.0,Personal Auto,Washington,379.029102,Two-Door Car
1918,976,GQ46925,582168.43,High School or Below,M,77563.0,143.0,0.0,Personal Auto,Arizona,545.999699,Luxury
1919,977,RF14806,309580.34,College,F,33415.0,78.0,0.0,Personal Auto,Arizona,374.400000,Four-Door Car
1920,978,KJ23009,1059854.25,Bachelor,F,20179.0,133.0,1.0,Corporate Auto,California,638.400000,SUV
1921,979,IB81655,769512.30,Bachelor,M,50147.0,101.0,0.0,Personal Auto,California,484.800000,SUV
1922,981,HR64684,868982.25,Master,M,0.0,99.0,5.0,Personal Auto,Oregon,475.200000,Four-Door Car
1923,982,QS96715,813177.92,High School or Below,F,93715.0,102.0,2.0,Personal Auto,Nevada,254.837690,SUV
1924,983,SW55711,381532.16,High School or Below,M,23540.0,103.0,2.0,Corporate Auto,Oregon,494.400000,Two-Door Car
1925,984,LZ19268,1163889.95,College,F,25370.0,102.0,0.0,Personal Auto,California,489.600000,Luxury
1926,985,FU74983,2280053.54,Bachelor,F,68771.0,96.0,0.0,Personal Auto,Nevada,276.268778,Four-Door Car
1927,986,KB99097,446299.70,Bachelor,F,0.0,73.0,3.0,Special Auto,California,350.400000,Two-Door Car
1928,987,AP52126,1315183.20,College,F,68562.0,108.0,0.0,Personal Auto,Oregon,228.498823,SUV
1929,988,EX61844,1401997.55,High School or Below,M,36733.0,71.0,0.0,Personal Auto,Arizona,327.078047,Four-Door Car
1930,989,QC30857,293115.52,College,F,45768.0,73.0,0.0,Personal Auto,Nevada,191.934494,Two-Door Car
1931,990,RT69513,477475.17,Bachelor,F,0.0,64.0,0.0,Personal Auto,California,307.200000,Four-Door Car
1932,991,HV85198,847141.75,Master,M,63513.0,70.0,0.0,Personal Auto,Arizona,185.667213,Four-Door Car
1933,992,BS91566,543121.91,College,F,58161.0,68.0,0.0,Corporate Auto,Arizona,140.747286,Four-Door Car
1934,993,IL40123,568964.41,College,F,83640.0,70.0,0.0,Corporate Auto,Nevada,471.050488,Two-Door Car
1935,994,MY32149,368672.38,Master,F,0.0,96.0,0.0,Personal Auto,California,28.460568,Two-Door Car
1936,995,SA91515,399258.39,Bachelor,M,0.0,111.0,0.0,Personal Auto,California,700.349052,SUV

# Challenge 2: Structuring Data

In this challenge, we will continue to work with customer data from an insurance company, but we will use a dataset with more columns, called marketing_customer_analysis.csv, which can be found at the following link:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis_clean.csv

This dataset contains information such as customer demographics, policy details, vehicle information, and the customer's response to the last marketing campaign. Our goal is to explore and analyze this data by performing data cleaning, formatting, and structuring.

In [2]:
url = "https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis_clean.csv"

df = pd.read_csv(url)

In [20]:
df.head()

,unnamed:_0,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employmentstatus,gender,...,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size,vehicle_type,month
0,0,DK49336,Arizona,4809.216960,No,Basic,College,2011-02-18,Employed,M,...,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,A,2
1,1,KX64629,California,2228.525238,No,Basic,College,2011-01-18,Unemployed,F,...,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,A,1
2,2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2011-02-10,Employed,M,...,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A,2
3,3,XL78013,Oregon,22332.439460,Yes,Extended,College,2011-01-11,Employed,M,...,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A,1
4,4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,2011-01-17,Medical Leave,F,...,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,A,1

In [21]:
df.tail()

,unnamed:_0,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employmentstatus,gender,...,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size,vehicle_type,month
10905,10905,FE99816,Nevada,15563.369440,No,Premium,Bachelor,2011-01-19,Unemployed,F,...,7,Personal Auto,Personal L1,Offer3,Web,1214.400000,Luxury Car,Medsize,A,1
10906,10906,KX53892,Oregon,5259.444853,No,Basic,College,2011-01-06,Employed,F,...,6,Personal Auto,Personal L3,Offer2,Branch,273.018929,Four-Door Car,Medsize,A,1
10907,10907,TL39050,Arizona,23893.304100,No,Extended,Bachelor,2011-02-06,Employed,F,...,2,Corporate Auto,Corporate L3,Offer1,Web,381.306996,Luxury SUV,Medsize,A,2
10908,10908,WA60547,California,11971.977650,No,Premium,College,2011-02-13,Employed,F,...,6,Personal Auto,Personal L1,Offer1,Branch,618.288849,SUV,Medsize,A,2
10909,10909,IV32877,California,6857.519928,No,Basic,Bachelor,2011-01-08,Unemployed,M,...,3,Personal Auto,Personal L1,Offer4,Web,1021.719397,SUV,Medsize,A,1

In [33]:
df.columns

Index(['unnamed:_0', 'customer', 'state', 'customer_lifetime_value',
       'response', 'coverage', 'education', 'effective_to_date',
       'employmentstatus', 'gender', 'income', 'location_code',
       'marital_status', 'monthly_premium_auto', 'months_since_last_claim',
       'months_since_policy_inception', 'number_of_open_complaints',
       'number_of_policies', 'policy_type', 'policy', 'renew_offer_type',
       'sales_channel', 'total_claim_amount', 'vehicle_class', 'vehicle_size',
       'vehicle_type', 'month'],
      dtype='object')

1. You work at the marketing department and you want to know which sales channel brought the most sales in terms of total revenue. Using pivot, create a summary table showing the total revenue for each sales channel (branch, call center, web, and mail).
Round the total revenue to 2 decimal points.  Analyze the resulting table to draw insights.

In [37]:
pivot_df = df.pivot_table(columns='sales_channel', values=['total_claim_amount'], aggfunc='sum').round(2)
pivot_df

sales_channel            Agent     Branch  Call Center        Web
total_claim_amount  1810226.82  1301204.0    926600.82  706600.04

2. Create a pivot table that shows the average customer lifetime value per gender and education level. Analyze the resulting table to draw insights.

In [23]:
new_df = df[["customer_lifetime_value", "gender", "education"]]
new_df

       customer_lifetime_value gender             education
0                  4809.216960      M               College
1                  2228.525238      F               College
2                 14947.917300      M              Bachelor
3                 22332.439460      M               College
4                  9025.067525      F              Bachelor
5                  4745.181764      M  High School or Below
6                  5035.035257      F                Doctor
7                  4956.247235      M  High School or Below
8                  5989.773931      M               College
9                 17114.328150      F                Master
10                 5154.764074      M  High School or Below
11                 2420.711888      M              Bachelor
12                19955.257130      F  High School or Below
13                 5454.587929      M                Master
14                12836.009510      M  High School or Below
15                 4626.801093      F                Master
16                 5326.677654      F  High School or Below
17                 2497.531509      M  High School or Below
18                 2736.352663      M               College
19                 3746.751625      F               College
20                 7247.313475      F              Bachelor
21                 6274.447705      F  High School or Below
22                15031.564500      F               College
23                 5107.071054      M              Bachelor
24                 2502.209885      M  High School or Below
25                 9521.222806      M               College
26                 8869.619888      F               College
27                 4376.363592      F              Bachelor
28                 2926.886293      F               College
29                24706.920110      M  High School or Below
...                        ...    ...                   ...
10880              4064.182317      F                Master
10881             11565.687470      F               College
10882              5773.520711      F              Bachelor
10883             22563.618380      M  High School or Below
10884             12362.087660      F              Bachelor
10885              2397.536652      M              Bachelor
10886              7611.949286      M              Bachelor
10887              8879.790017      F  High School or Below
10888              6928.601611      M              Bachelor
10889              5260.623466      F              Bachelor
10890              4660.399573      F              Bachelor
10891              8840.193762      F  High School or Below
10892             32306.285870      F  High School or Below
10893              4817.992644      M               College
10894              6314.492009      F                Master
10895              6232.687923      F              Bachelor
10896             19776.566540      F  High School or Below
10897              9075.768214      M                Master
10898              5807.659307      F               College
10899              8610.667489      F  High School or Below
10900              6423.739052      M               College
10901              4547.892543      M              Bachelor
10902              3579.023825      F  High School or Below
10903              2771.663013      M               College
10904             19228.463620      M  High School or Below
10905             15563.369440      F              Bachelor
10906              5259.444853      F               College
10907             23893.304100      F              Bachelor
10908             11971.977650      F               College
10909              6857.519928      M              Bachelor

[10910 rows x 3 columns]

In [43]:
pivot_new_df = df.pivot_table(index='gender', columns='education', values=['customer_lifetime_value'], aggfunc='mean').round(2)
pivot_new_df

          customer_lifetime_value                                         \
education                Bachelor  College   Doctor High School or Below
gender
F                         7874.27  7748.82  7328.51              8675.22
M                         7703.60  8052.46  7415.33              8149.69


education   Master
gender
F          8157.05
M          8168.83

## Bonus

You work at the customer service department and you want to know which months had the highest number of complaints by policy type category. Create a summary table showing the number of complaints by policy type and month.
Show it in a long format table.

*In data analysis, a long format table is a way of structuring data in which each observation or measurement is stored in a separate row of the table. The key characteristic of a long format table is that each column represents a single variable, and each row represents a single observation of that variable.*

*More information about long and wide format tables here: https://www.statology.org/long-vs-wide-data/*

In [3]:
df_bonus= df[["number_of_open_complaints", "month", "policy_type"]]

In [4]:
df_bonus

       number_of_open_complaints  month     policy_type
0                       0.000000      2  Corporate Auto
1                       0.000000      1   Personal Auto
2                       0.000000      2   Personal Auto
3                       0.000000      1  Corporate Auto
4                       0.384256      1   Personal Auto
5                       0.000000      2   Personal Auto
6                       3.000000      2  Corporate Auto
7                       0.000000      2   Personal Auto
8                       0.000000      1   Personal Auto
9                       0.000000      1  Corporate Auto
10                      0.000000      1  Corporate Auto
11                      0.000000      2  Corporate Auto
12                      0.000000      1  Corporate Auto
13                      0.000000      1   Personal Auto
14                      0.000000      2   Personal Auto
15                      0.000000      1    Special Auto
16                      0.000000      2   Personal Auto
17                      0.000000      1  Corporate Auto
18                      0.000000      2   Personal Auto
19                      1.000000      2   Personal Auto
20                      0.000000      2   Personal Auto
21                      0.000000      2   Personal Auto
22                      0.000000      1   Personal Auto
23                      0.384256      2   Personal Auto
24                      1.000000      2  Corporate Auto
25                      0.000000      1    Special Auto
26                      0.000000      2   Personal Auto
27                      0.000000      2   Personal Auto
28                      0.000000      2    Special Auto
29                      0.000000      1   Personal Auto
...                          ...    ...             ...
10880                   0.000000      1   Personal Auto
10881                   0.000000      2   Personal Auto
10882                   0.000000      2   Personal Auto
10883                   3.000000      1   Personal Auto
10884                   0.000000      1   Personal Auto
10885                   0.000000      2   Personal Auto
10886                   0.000000      2  Corporate Auto
10887                   0.000000      2    Special Auto
10888                   2.000000      1   Personal Auto
10889                   0.000000      1   Personal Auto
10890                   0.000000      2  Corporate Auto
10891                   4.000000      1   Personal Auto
10892                   0.000000      1  Corporate Auto
10893                   0.000000      2   Personal Auto
10894                   0.000000      2   Personal Auto
10895                   0.000000      1    Special Auto
10896                   0.000000      1   Personal Auto
10897                   0.000000      1   Personal Auto
10898                   0.000000      1   Personal Auto
10899                   0.000000      2  Corporate Auto
10900                   0.000000      2  Corporate Auto
10901                   0.000000      1   Personal Auto
10902                   2.000000      1   Personal Auto
10903                   4.000000      1   Personal Auto
10904                   0.000000      2   Personal Auto
10905                   0.384256      1   Personal Auto
10906                   0.000000      1   Personal Auto
10907                   0.000000      2  Corporate Auto
10908                   4.000000      2   Personal Auto
10909                   0.000000      1   Personal Auto

[10910 rows x 3 columns]

In [10]:
melted_data = pd.melt(df_bonus, id_vars=['month', 'policy_type'], value_vars=['number_of_open_complaints'], var_name='Indicator', value_name='Value')
melted_data

       month     policy_type                  Indicator     Value
0          2  Corporate Auto  number_of_open_complaints  0.000000
1          1   Personal Auto  number_of_open_complaints  0.000000
2          2   Personal Auto  number_of_open_complaints  0.000000
3          1  Corporate Auto  number_of_open_complaints  0.000000
4          1   Personal Auto  number_of_open_complaints  0.384256
5          2   Personal Auto  number_of_open_complaints  0.000000
6          2  Corporate Auto  number_of_open_complaints  3.000000
7          2   Personal Auto  number_of_open_complaints  0.000000
8          1   Personal Auto  number_of_open_complaints  0.000000
9          1  Corporate Auto  number_of_open_complaints  0.000000
10         1  Corporate Auto  number_of_open_complaints  0.000000
11         2  Corporate Auto  number_of_open_complaints  0.000000
12         1  Corporate Auto  number_of_open_complaints  0.000000
13         1   Personal Auto  number_of_open_complaints  0.000000
14         2   Personal Auto  number_of_open_complaints  0.000000
15         1    Special Auto  number_of_open_complaints  0.000000
16         2   Personal Auto  number_of_open_complaints  0.000000
17         1  Corporate Auto  number_of_open_complaints  0.000000
18         2   Personal Auto  number_of_open_complaints  0.000000
19         2   Personal Auto  number_of_open_complaints  1.000000
20         2   Personal Auto  number_of_open_complaints  0.000000
21         2   Personal Auto  number_of_open_complaints  0.000000
22         1   Personal Auto  number_of_open_complaints  0.000000
23         2   Personal Auto  number_of_open_complaints  0.384256
24         2  Corporate Auto  number_of_open_complaints  1.000000
25         1    Special Auto  number_of_open_complaints  0.000000
26         2   Personal Auto  number_of_open_complaints  0.000000
27         2   Personal Auto  number_of_open_complaints  0.000000
28         2    Special Auto  number_of_open_complaints  0.000000
29         1   Personal Auto  number_of_open_complaints  0.000000
...      ...             ...                        ...       ...
10880      1   Personal Auto  number_of_open_complaints  0.000000
10881      2   Personal Auto  number_of_open_complaints  0.000000
10882      2   Personal Auto  number_of_open_complaints  0.000000
10883      1   Personal Auto  number_of_open_complaints  3.000000
10884      1   Personal Auto  number_of_open_complaints  0.000000
10885      2   Personal Auto  number_of_open_complaints  0.000000
10886      2  Corporate Auto  number_of_open_complaints  0.000000
10887      2    Special Auto  number_of_open_complaints  0.000000
10888      1   Personal Auto  number_of_open_complaints  2.000000
10889      1   Personal Auto  number_of_open_complaints  0.000000
10890      2  Corporate Auto  number_of_open_complaints  0.000000
10891      1   Personal Auto  number_of_open_complaints  4.000000
10892      1  Corporate Auto  number_of_open_complaints  0.000000
10893      2   Personal Auto  number_of_open_complaints  0.000000
10894      2   Personal Auto  number_of_open_complaints  0.000000
10895      1    Special Auto  number_of_open_complaints  0.000000
10896      1   Personal Auto  number_of_open_complaints  0.000000
10897      1   Personal Auto  number_of_open_complaints  0.000000
10898      1   Personal Auto  number_of_open_complaints  0.000000
10899      2  Corporate Auto  number_of_open_complaints  0.000000
10900      2  Corporate Auto  number_of_open_complaints  0.000000
10901      1   Personal Auto  number_of_open_complaints  0.000000
10902      1   Personal Auto  number_of_open_complaints  2.000000
10903      1   Personal Auto  number_of_open_complaints  4.000000
10904      2   Personal Auto  number_of_open_complaints  0.000000
10905      1   Personal Auto  number_of_open_complaints  0.384256
10906      1   Personal Auto  number_of_open_complaints  0.000000
10907      2  Corporate Auto  number_of_open_complaints  0.000000
10908      2   Personal Auto  number_of_open_complaints  4.000000
10909      1   Personal Auto  number_of_open_complaints  0.000000

[10910 rows x 4 columns]